.AudioDataComp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: solid 1px black;

}
.EditNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.ADCname{

  text-align: left;
}

.ADCdb{
  width: 50px;
  height: 20px;
}
.ADCnote{
  width: 100px;
}

.Data{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.DataLeft{
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}


#db{
  display: flex;
  justify-content: center;
  height: 34px;
}


.dBBoxL,.dBBoxR{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}


.thebox{
  width: 200px;
}